#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.player {
  margin-bottom: 20px;
  padding: 0.5rem;
}

.player.turn {
  border: dashed 1px;
  border-color: rgba(224, 103, 216, 0.343);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100px;
  height: 120px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card.flipped {
  background-color: gray;
}

.card.flipped:hover {
  background-color: lightgray;
}
